@model Crowd_knowledge_contribution.Models.Domain
@{
    ViewBag.Title = "Domeniu";
}

<h2>@ViewBag.Title</h2>
<p>@Model.DomainName</p>

<form method="post" action="/Domains/Delete/@Model.DomainId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-success" type="submit">Șterge domeniul</button>

</form>
<br />
<a class="btn btn-success" href="/Domains/Index/">Afișare listă domenii</a>

<br />
<hr />
<br />

