
<div class="panel-heading">@Model.Title</div>
<div class="panel-body">
    Conținut articol: <strong>@Model.Content</strong>
    <br />
    <span class="label label-success">@Model.LastModified</span>
    <br />
    <i class="glyphicon glyphicon-globe"></i>@Model.Category.CategoryName
</div>